:root {
  --white: #fafafa;
}

#invertedCursor1, #invertedCursor2 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(255, 255, 255);

  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  z-index: 2;
  mix-blend-mode: difference;
  transition: transform .2s;
}
#invertedCursor2 {
  width: 13px;
  height: 13px;
}

body {
  cursor: none;

  margin: 0;
  background-color: black;
  color: var(--white);
  max-width: 100%;
  /* font-family: "Helvetica", Sans-Serif; */
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  overflow-y: scroll;
  max-width: 100vw;
  max-height: 100vw;
  overflow-x: hidden;
  height: 100vh;

  /* No scrollbar */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

  /* User can't select text */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  text-shadow:1px 1px 1px rgba(0,0,0,0.004)
}
.app::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}
.pageOne {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display:block;
}
.pageOne h1 {
  vertical-align: middle;
  line-height: 1.0625;
  font-weight: 300;
  font-size: 5vw;
  letter-spacing: -0.27vw;

  margin-top: 20vw;
  margin-left: 4vw;
}
.pageOne h3 {
  line-height: 1.0625; /* The height Apple used to tighten up the spacing a bit. */
  font-weight: 300; /* Nice, chunky, bold! */
  font-size: 2vw;
  letter-spacing: -0.1vw;
  margin-top: -3vw;
  margin-left: 4vw;
}
.pageOne h6 {
  margin-left: 50%;
  margin-top: 100vw;
}
.pageTwo {
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none;

}
.arrow {
  display:inline-block;
  transition: transform 0.3s ease-in-out; /* This sets a 0.3s transition for the transform property */
}
.rotated {
  transform: rotate(90deg); /* Rotates the element by 90 degrees */
}

::-webkit-scrollbar {
  width: 0em;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
background-color: #000000;
}
.footer {
  position: fixed;
  bottom: 15px;
  left: 0vw;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  z-index: 1000;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

li {
  font-size: 0.9vw;
  line-height: 1.0625; /* The height Apple used to tighten up the spacing a bit. */
  font-weight: 400; /* Nice, chunky, bold! */
  text-align: center;
  margin: 0 10px;
  display: inline-block;
  width: 25vw; /* set a fixed width */
}

@media (max-width: 767px) {
    .flex-container {
        flex-wrap: wrap;
    }
    li {
        text-align: center;
        display: block;
        margin-bottom: 10px;
        font-size: 3vw;
    }
}