@font-face {
    font-family: 'SF-Pro';
    src: url('items/SF-Pro.ttf') format("opentype");
}

@font-face {
    font-family: "SF-Pro Thin";
    src: url('items/SF-Pro-Rounded-Thin.otf') format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro Thin";
    font-style: normal;

}
h1 {
    font-size: 100px;
}
h2 {
    font-size: 50px;
}

section {
    height: 100vh;
    display: flex;
    color: rgb(77, 77, 77);
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.pageOne {
    background: whitesmoke;
}
.pageTwo {
    background: whitesmoke;
}
.pageThree {
    background: whitesmoke;
}
.pageFour {
    background: whitesmoke;
}
