@font-face {
    font-family: 'SF-Pro';
    src: url('items/SF-Pro.ttf') format("opentype");
}
@font-face {
    font-family: "SF-Pro Thin";
    src: url('items/SF-Pro-Rounded-Thin.otf') format("opentype");
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SF-Pro Thin";
    font-style: normal;
}

h1 {
    font-size: 100px;
}
h2 {
    font-size: 50px;
}

section {
    height: 100vh;
    display: flex;
    color: rgb(77, 77, 77);
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
}
.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

/* ANYTHING TO DO WITH PAGE ONE */
.pageOne {
    background: whitesmoke;
}
.pageOne h2 {
    background: linear-gradient(black, whitesmoke);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fade 1s ease-in;
}
/* ***************************** */


/* ANYTHING TO DO WITH PAGE TWO */
.pageTwo {
    background: whitesmoke;
}
/* ***************************** */


/* ANYTHING TO DO WITH PAGE THREE */
.pageThree {
    background: whitesmoke;
}
/* ***************************** */


/* ANYTHING TO DO WITH PAGE FOUR */
.pageFour {
    background: whitesmoke;
}
.pageFour h1 {
    background: linear-gradient(to Right, red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* ***************************** */